/* kontakty */

.contact__container {
  min-height: 100vh;
  background-color: #0f4438;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__aside--panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2823;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__person {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.contact__person--card {
  margin: 1rem;
  position: relative;
  text-align: center;
}

.paty {
  border-top: 1px solid white;
}

.contact__paty {
  padding-top: 1rem;
}

.contact__person--card img {
  width: 120px;
  border-radius: 50%;
}

.contact__person--card h3 {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: right;
}

.contact__person--card:hover img {
  box-shadow: 0 0 10px 5px #FFB400
}

.contact__person--card:hover h3 {
  color: #FFB400;
}

.contact__main-content {
  padding: 12% 8% 9% 30%;
}

.contact__main-content h1 {
  margin: 1rem 0;
}

.contact__main-content p {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.7rem;
  color: white;
}

.contact__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 3rem 0;
}

.contact__btn {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}

.contact-icons {
  font-size: 2rem;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: small;
}

.btn:hover {
  color: #ffb200;
}

a {
  color: white;
}

a:hover {
  color: #ffb200;
}

@media (max-width: 1200px) {
  .contact__container {
    padding: 0% 6%;
  }

  .contact__main-content {
    padding: 12% 3% 8% 32%;
  }

  .contact__aside--panel {
    padding: 3rem;
  }
}

@media (max-width: 861px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .contact__main-content {
    height: auto;
    padding: 5rem;
    order: 1;
  }

  .contact__aside--panel {
    position: static;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 7.5rem 2rem 2rem;
    order: -1;
  }

  .paty {
    border-top: none;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact__paty {
    padding-top: 0;
  }

  .contact__person--card h3 {
    display: flex;
    justify-content: center;
  }
}


@media (max-width: 650px) {
  .contact__header {
    margin: 0;
    margin-bottom: 3rem;
  }

  .contact__aside--panel {
    padding: 6.5rem 2rem 1rem;
  }

  .contact__main-content h1 {
    font-size: 1.2rem;
  }

  .contact__main-content p {
    line-height: 1.5rem;
  }

  .contact__person--card img {
    width: 100px;
  }

  .contact__main-content {
    padding: 3rem;
  }

  .contact-icons {
    display: flex;
    margin-left: 1rem;
    flex-wrap: nowrap;
  }

  .contact-icons {
    font-size: 1rem;
  }


}
